.Home{
    width: 100%;
    min-height: 90vh;
    background-color: rgb(212, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    font-weight: bold;
    font-size: 70px;
}

.body{
    font-size: 30px;
}