.Card{
    width: 220px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    color: rgba(255,255,255,0.8);
}

.Card img{
    border-radius: 5px;
    overflow: hidden;
}

#title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;

}


